.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color:gray;
    overflow:hidden; 
    padding: 0;
    background-size:cover;
}

.circle:hover {
    border-color: black;
}

.btnimg:hover {
    transition: all 0.5s ease-out;
    background: none;
    border-color:black;
    opacity:1;
}

.btnimg {
    width:100%; 
    height:auto; 
    display:block;
    opacity:0.5;
}

.innerimg {
    text-align: center;
    max-width: 200px;
    overflow:hidden; 
    padding: 0;
}

.innerbtnimg {
    width:100%; 
    height:auto; 
    display:block;
}